/*@font-face {
  font-family: 'HattoriHanzoLight';
  src: url('fonts/Hattori_Hanzo-webfont.eot');
  src: local('☺'), url('fonts/Hattori_Hanzo-webfont.woff') format('woff'),
       url('fonts/Hattori_Hanzo-webfont.ttf') format('truetype'), 
       url('fonts/Hattori_Hanzo-webfont.svg#webfontrd3huYzV') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
	font-family: 'CantarellRegular';
	src: url('fonts/Cantarell-Regular-webfont.eot');
	src: local('☺'), url('fonts/Cantarell-Regular-webfont.woff') format('woff'), 
	     url('fonts/Cantarell-Regular-webfont.ttf') format('truetype'), 
	     url('fonts/Cantarell-Regular-webfont.svg#webfontaI1yI6ue') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  font: normal 100% CantarellRegular;
  background-color:#C4C4C4;
  color:#404040;
} 

div.spacer { clear:both; }

div#title {
  font-size:40px;
  text-align:center;
  padding-bottom:20px;
}

div#search-box {
  width:96%;
  padding-left:2%;
  padding-right:2%;
}
div#search-box-title {
  font-size:30px;
  padding-right:4px;
}
div#search-box-input {
}
input#search-input {
  width:70%;
  font-size:30px;
  font-family:CantarellRegular;
  color:#404040;
  background-color:#E8E8E8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
div#results {
  font-size:20px;
  width:96%;
  padding-left:2%;
  padding-right:2%;
  padding-top:4px;
}
div.result {
  background-color:#F5F5F5;
  width:100%;
  padding-left:5px;
}
div.result-container {
  padding-bottom:4px;
}
span.result-name {
  padding-right:10px;
}
span.result-desc {
  color:#6B6B6B;
}
div.result-tags {
  text-align:right;
  font-size:16px;
  padding-right:4px;
  float:right;
}
span.tag {
  padding-left:6px;
  cursor:pointer;
  color:#878787;
}
span.desc-term {
  color:#141414;
}

a:link, a:visited {
  color:#3232CD;
  text-decoration:none;
}

a.dep-link {
  padding-right:7px;
}

div.package {
  text-align:center;
}

div.package-title {
  font-size:20px;
}

div#latest-packages {
  width:50%;
  float:left;
}

div#top-dep-packages {
  width:50%;
  float:left;
}

div.top-title {
  text-align:center;
}

div.top-package {
  width:100%;
}
div.top-package-title {
  padding-right:7px;
  float:left;
}
div.top-package-updated {
  float:right;
  text-align:right;
  padding-right:15px;
}
div.top-package-dep {
  float:right;
  text-align:right;
  padding-right:15px;
}